.text-logo {
  font: 700 1.375rem 'Inter', Arial, sans-serif;
}

.text-menu-regular {
  font: 400 1.125rem 'Mulish', Arial, sans-serif;
}

.text-menu-bold {
  font: 700 1.125rem 'Mulish', Arial, sans-serif;
}

.text-title-regular {
  font: 400 3.0625rem 'Mulish', Arial, sans-serif;
}

.text-title-bold {
  font: 700 3.0625rem 'Mulish', Arial, sans-serif;
}

.text-normal-regular {
  font: 400 0.875rem 'Open Sans', Arial, sans-serif;
}

.text-normal-bold {
  font: 700 0.875rem 'Open Sans', Arial, sans-serif;
}
